@import "../../../style/utils.scss";

.passenger-traffic {
  .today-population {
    width: 100%;
    height: vh(300);
    background-image: url("@assets/images/entranceGuard/mjxt_txrs_bg_img.png");
    background-size: 100% 100%;
    margin-top: vh(9);
    position: relative;
    .content{
      height: 100%;
      width:100%;
      display: flex

    }
    .title {
      width: vw(208);
      height: vh(40);
      line-height: vh(40);
      font-size: vw(20);
      text-align: center;
      background-image: url("@assets/images/entranceGuard/mjxt_title_bg_img@2x.png");
      background-size: 100% 100%;
      color: #fff;
      font-weight: bold;
      position: absolute;
      left: 0;
      top: 0;
    }
    .chart{
      height: 100%;
      width:100%;
    }
  }
}
