@import "../../../style/utils.scss";
.today-population{
    position: relative;
    width: 100%;
    height:vh(311);
    background-image: url('@assets/images/entranceGuard/mjxt_txrs_bg_img.png');
    background-size: 100% 100%;
}